 head, body {
        color:  white;
        background-size: cover;
      }
   .wrapper {
        display: inline-block;
        border: solid-black 10px;
        margin: 20px;
        background: black;
      }
    b {
      color: green;
      background-color: white;
      }
    a:link {
    color: green;
      }
    a:hover {
    color: white;
      }
